{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - EatAndFit{% endblock %}

{% block content %}
    <h2>Mon récup</h2>
    <p>Vérifier vos informations avant de passer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
           Mon adresse de livraison

            Mon transporteur
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Récap de ma commande</b><br/>
                <p>Trouver le recap de vos produits</p>
            </div>

            <div class="order-summary">
                {%for product in cart %}

                    <div class="row">

                        <div class="col-2"><img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="80px"></div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br/>
                            <small>{{ product.product.subtitle }}</small>
                        </div>
                        <div class="col-2 my-auto">
                            x {{ product.quantity }}
                        </div>
                    </div>

                {% endfor %}
            </div>

            <a href="" class="btn btn-success btn-block">Payer</a>
        </div>
    </div>
{% endblock %}
